@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #2d1548;
    --secondary-color: #000000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(bg.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url(bg.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 1200px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

header {
    position: sticky !important;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.logo {
    width: 188px;
    height: 50px;
    margin: 8px;
    border-radius: 60px;
}

form {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50px;
    font-family: inherit;
    font-size: 15px;
    padding: 0.5rem 1rem;
    color: #fff;
    user-select: none;
    outline: none;
    height: 45px;
    margin: 10px;
}

.fa-search {
    color: white;
    margin-right: 5px;
}

.search {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 13px;
    color: #fff;
    height: 17px;
    margin: 5px;
    width: 339px;
    justify-content: center;
}

.search::placeholder {
    color: #b0b6b8;
    font-weight: bold;
}

.search:focus {
    outline: none;
    background-color: #000000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(122, 242, 122);
}

.movie-info span.orange {
    color: rgb(249, 218, 94);
}

.movie-info span.red {
    color: rgb(243, 62, 62);
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    font-size: 15px;
}

.overview h3 {
    color: #07bbc4;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.movie:hover .overview {
    transform: translateY(0);
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    user-select: none;
}

.tag {
    color: white;
    padding: 10px 20px;
    background-color: #007fff;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight {
    background-color: red;
}

.no-results {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    user-select: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
}

.no-results h1 {
    color: white;
    font-weight: bold;
}

h1 .searchItem {
    color: #000000;
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}

.no-results h2 {
    color: white;
    font-weight: normal;
}

.no-results img {
    width: 200px;
    height: 200px;
    user-select: none;
    text-align: center;
    justify-content: center;
}

.pagination {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.page {
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid rgb(255, 254, 252);
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.know-more {
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    width: 100%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    user-select: none;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    user-select: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    user-select: none;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 550px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.embed.hide {
    display: none;
}

.embed.show {
    display: inline-block;
}

.arrow {
    position: absolute;
    font-size: 40px;
}

.arrow.left-arrow {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.arrow.right-arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.dots {
    margin-top: 30px;
    margin-bottom: 10px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active {
    border-color: orange;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 2px;
    text-align: center;
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    header {
        height: 60px;
    }

    .logo {
        width: 160px;
        height: 40px;
        margin: 5px;
    }

    form {
        width: 280px;
        height: 40px;
        font-size: 12px;
        margin: 5px;
    }

    .fa-search {
        font-size: 14px;
    }

    .search {
        height: 16px;
        width: 215px;
    }

    main {
        margin-bottom: 100px;
    }

    .movie {
        width: 250px;
        margin: 0.5rem;
    }

    .movie-info {
        padding: 0.5rem 0.5rem 0.5rem;
    }

    .movie-info h3 {
        font-size: 16px;
    }

    .overview h3 {
        font-size: 18px;
    }
    .overview {
        overflow: scroll;
        font-size: 14px;
    }

    .tag {
        padding: 8px 15px;
        margin: 3px;
        font-size: 12px;
    }

    .pagination {
        margin: 10px 15px;
    }

    .page {
        padding: 10px;
    }

    .current {
        padding: 8px 15px;
        font-size: 16px;
    }

    .know-more {
        font-size: 14px;
        padding: 8px 15px;
    }

    .overlay .closebtn {
        top: 10px;
        right: 35px;
        font-size: 40px;
    }
    .footer {
        font-size: small;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: 50px;
    }

    .logo {
        width: 140px;
        height: 35px;
        margin: 4px;
    }

    form {
        width: 250px;
        height: 35px;
        font-size: 11px;
        margin: 4px;
    }

    .fa-search {
        font-size: 12px;
    }

    .search {
        height: 11px;
        width: 145px;
    }

    main {
        margin-bottom: 120px;
    }

    .movie {
        width: 200px;
        margin: 0.4rem;
    }

    .movie-info {
        padding: 0.4rem 0.4rem 0.4rem;
    }

    .movie-info h3 {
        font-size: 14px;
    }

    .overview h3 {
        font-size: 16px;
    }
    .overview{
        font-size: 13px;
        overflow: scroll;
    }

    .tag {
        padding: 6px 12px;
        margin: 2px;
        font-size: 10px;
    }

    .pagination {
        margin: 10px 10px;
    }

    .page {
        padding: 8px;
    }

    .current {
        padding: 6px 12px;
        font-size: 14px;
    }

    .know-more {
        font-size: 12px;
        padding: 6px 12px;
    }

    .overlay .closebtn {
        top: 8px;
        right: 25px;
        font-size: 30px;
    }
    .footer {
        font-size: small;
    }
}
